    body {
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    background-color: #FFFFFF;
    }

    #content{
        background-color: #9A2A2A;
        width:80%;
        margin: auto;
        padding: 5%;
    }

        #main-header{
        text-align: center;
        Color: black;
        padding: 30%;
    }
    #main-header img{
       display: block;
        margin: 0 auto;
    }
    #main-header h1 { 
        color: white;
        margin: 10px; 
        font-size: 30px;
    }

    #main-nav{
        background-color: black;
    }

        #main-nav ul{
         list-style-type: none;
            padding: 0;
            display: flex;
    }

    #main-nav li{
        flex: 1;
        text-align: center;
        border-right: 5px white;
    }

    #main-nav a{
        text-decoration: none;
        display: block;
        padding: 10px;
        color: white;
        font-size: 25px;
    }

       #main-nav a:hover{
        color: white;
        
    }

    main{
        display: flex;
        gap: 10px;
        padding: 10px 0;
    }

    #sidebar{
     background-color: black;
     width: 190px;
    padding: 10px;
    }
    #sidebar h3{
        color: black;
        text-align: center;
        font-size: 20px;
    }

    #sidebar ul{
        list-style-type: none;
        padding: 0;
    }

    #sidebar li{
        background-color: black;
        border-bottom: 1px solid white;
    }

    #sidebar a{
        display: block;
        padding: 10px;
        color: #9A2A2A;
        text-decoration: none;
        text-align: center;
    }

    #main-content{
        flex: 1;
    }

    #article{
    display: flex;
        gap: 10px;
    }

    #article article{
       flex: 1;
        background-color: black;
        text-align: center;

    }

    #article h3{
        color: white;
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    articles img{
        width: 300px;
        height: 300;
        object-fit: cover;
    }

    #football {
    margin-top: 10px;
}

.Onfield {
    display: flex;
    background-color: #a9c3bd;
    margin-bottom: 10px;
    min-height: 190px;
}

.Onfield > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.Onfield div {
    flex: 1;
    background-color: #5d8589;
    color: white;
    padding: 15px 25px;
}

.Onfield h3 {
    margin-top: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 700px) {
    #content {
        width: 95%;
    }

    #main-header h1 {
        font-size: 25px;
    }

    #main-nav ul {
        display: block;
    }

    #main-nav li {
        border-bottom: 1px solid white;
    }

    main {
     display: block;
    }

    #sidebar {
        width: auto;
        margin-bottom: 10px;
    }

    #article {
        display: block;
    }

    #article article {
        margin-bottom: 10px;
    }

    .OnField {
        display: block;
    }

    .OnField > img {
        width: 100%;
        height: auto;
    }

    .OnField div {
        padding: 20px;
    }
}