    body {
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    }

    #content{
        background-color: #9A2A2A;
        width:80%;
        padding: 5%;
    }

        #main-header{
        text-align: center;
        padding: 20%;
    }

        #main-header img{
         display: block;
        margin: 20%;
    }
    #main-nav ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }