* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: green;
}
/* used ai help for css art*/
#road {
    width: 100%;
    height: 140px;
    background-color: #000000;
    position: relative;
    margin-top: 70px;

    border-top: 5px solid #cccccc;
    border-bottom: 5px solid #cccccc;

    overflow: hidden;
}

.lane-line {
    position: absolute;
    top: 62px;
    width: 100%;
    height: 6px;

    background: repeating-linear-gradient(
        to right,
        #ffd83d 0px,
        #ffd83d 50px,
        transparent 50px,
        transparent 90px
    );
}
.car {
    width: 90px;
    height: 40px;
    border-radius: 10px;
    position: absolute;

}

.car::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 40px;
    background-color:aliceblue;
    top: -12px;
    left: 23px;
    border-radius: 8px 8px 3px 3px;

}

.car::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #555555;
    border-radius: 50%;
    bottom: -7px;
    left: 10px;
    box-shadow: 55px 0 #555555;
};

