*{
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: orange;
    color: black;
}

header{
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 30px;
    margin: 0;
}

h2{
    font-size: 24px;
    margin: 0;
}

h3{
    text-align: center;
    margin: 5px;
}

#content{
    display: flex;
    justify-content: center;
    gap: 30px; 
    width: 90%;
    margin: 20px auto;
}

label{
    display: block;
    margin-top: 5px;
}

label{
    display: block;
    margin-top: 15px;
}

select{
    width: 120%;
}

#speech-bubble{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    background-color: white;
}

#speech-bubble::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 30px;
    border-width: 18px 18px 0 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.hidden{
    display: none;
}

#Drink-select{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: black;
}

#sticker-area{
    height: 200px;
    position: relative;
}

#sun {
    font-size: 90px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.sticker {
    position: absolute;
    font-size: 30px;
}