body,main,footer,header {
font-family: arial, Helvetica, sans-serif;
box-sizing: border-box;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #9A2A2A;
      background-size: cover;
    background-attachment: fixed;
    background-image: url(images/carolinastadium.jpg);
    background-attachment: fixed;
}
#content{
     background-color: rgba(18, 35, 28, 0.5);
    padding: 5%;
}

header{
    text-align: center;
    padding: 10px;
}

header h1{
    margin: 0;
    font-size: 50px;
}

header h2{
    margin: 0;
    color:#FFFFFF
    font-size: 30px;
}

main{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
     background-color: rgba(18, 35, 28, 0.75);
    
}

main > h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    margin: 15px 0 25px;
}

#assignments, #projects{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items:  stretch;
}

.assignment{
    background-color:#dbe5f5 ;
    padding: 15px 25px 25px;
}

.assignment h3{
    margin: 0 0 15px;
    font-size: 25px;
    color: black;
}

